workspaceCalculator/CalcularSh/GrcCalculator_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by End User (free.org) --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://webservice.calcular.agr.com.br/Calcular/v1" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.calcular.agr.com.br/Calcular/v1" xmlns:use="http://canonico.calcular.agr.com.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			<xsd:import namespace="http://canonico.calcular.agr.com.br" schemaLocation="XSD/calcular/v1/Calcular.xsd"/>
			<xsd:complexType name="SomarRequestType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="Calcular" type="use:CalcularRequestType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="SomarResponseType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="Calcular" type="use:CalcularResponseType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element ibmSchExtn:docRoot="true" name="SomarRequest" type="tns:SomarRequestType"/>
			<xsd:element ibmSchExtn:docRoot="true" name="SomarResponse" type="tns:SomarResponseType"/>
		</xsd:schema>